In [1]:
sentence="MY nAme iS BhaNu"
sentence.capitalize()

'My name is bhanu'

In [ ]:
sentence="AAJ Badja Claja kahajA"
sentence.title()

'Aaj Badja Claja Kahaja'

In [ ]:
sentence.lower()

'my name is bhanu'

In [ ]:
sentence.split()

['MY', 'nAme', 'iS', 'BhaNu']

In [ ]:
var="The world on GAGA"
var.replace(' ','%20')

'The%20world%20on%20GAGA'

In [ ]:
#special changing element in list trick
name=['raj','Paja','Seema']
name[:2]=['Deve','Jeva']
name

['Deve', 'Jeva', 'Seema']

In [ ]:
name[-1]='Sunda'
name

['Deve', 'Jeva', 'Sunda']

In [ ]:
del name[0]
name

['Jeva', 'Sunda']

In [ ]:
name=['Rava','Tina','Jojo','loha']
name.remove('loha')
name

['Rava', 'Tina', 'Jojo']

In [ ]:
[None]*5

[None, None, None, None, None]

In [ ]:
[True]*5

[True, True, True, True, True]

In [ ]:
[1,2,3,4]*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
ho="jojo farted and this happen CHAHAHA"
ho.split()

['jojo', 'farted', 'and', 'this', 'happen', 'CHAHAHA']

In [ ]:
ho="jojo farted-and this-happen-CHAHAHA"
ho.split('-')

['jojo farted', 'and this', 'happen', 'CHAHAHA']

In [ ]:
# Occurrence of each character
str='aaaaajjj222@@@sss^^^888'
count=[0]*128
for c in str:
    c_num = ord(c)
    count[c_num] = count[c_num] + 1
        

count

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [ ]:
str="jdjjdjdjdjjdjdjdjdjjjjddddjdjdj"
count={}

for c in str:
    if c not in count:
        count[c]=1
    else:
        count[c]+=1

print(count)

{'j': 17, 'd': 14}

In [ ]:
#Using get method
str="jdjjdjdjdjjdjdjdjdjjjjddddjdjdj"

count = {}

for c in str:
    count[c] = count.get(c,0) + 1
    
print(count)

{'j': 17, 'd': 14}

In [41]:
str = input(str) 

count = {}

for c in str:
    count.setdefault(c,0) 
    count[c] += 1
    
print(count)

{'s': 2, 'f': 2, 'g': 3, 'a': 2, 'd': 2, 'h': 2}

In [42]:
number=[0,0,1,2,2,3,4,5,6,7,7,8,9,0,1]
print("List[]:{}".format(number))#list format

print("\n")

number={0,0,1,2,2,3,4,5,6,7,7,8,9,0,1}
print("Set:{}".format(number))

List[]:[0, 0, 1, 2, 2, 3, 4, 5, 6, 7, 7, 8, 9, 0, 1]


Set:{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
#lambda function (sum of two number)
sum=lambda c,d:c+d
print(sum)
sum(45,8)

<function <lambda> at 0x000002282CD13560>

53

In [46]:
#map function
def cube(number):
    return number **3

num=[0,1,2,3,5]

list(map(cube,num))

[0, 1, 8, 27, 125]

In [47]:
#filter function
def odd_check(number):
    return number%2!=0

num=[1,2,4,6,3,2,57,8,3,54]
list(filter(odd_check,num))

[1, 3, 57, 3]

In [50]:
#list comprehension
num=range(1,20)
even_num=[]
even_num=[i for i in num if i%2==0]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [51]:
#Enumerate Function
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

In [52]:
list(enumerate(seasons, start=1))

[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]